<table>
    <tr>
        <th>Id:</th>
        <th>User:</th>
        <th>Message:</th>
        <th>Added:</th>
    </tr>
    <tr>
        <td><%= message.id %></td>
        <td><%= message.user %></td>
        <td><%= message.text %></td>
        <td><%= message.added %></td>
    </tr>
</table>